body   {
    background-color:aliceblue;
    
    }   

h1    {
        color:blue;
        margin-left: 4px;
        text-align: center;
        font-family:serif;
        font-size: 50px;
        height: 40px;
        text-decoration-style: solid; 
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }


h2    {
        font-family:serif;
        font-size: 25px;
        font-weight: 400px;
        height : 3px;
    }


h3    {
        height : 15px; 
    }


h4    {
        height: 2px;
        font-family: fantasy;
        font-style: normal;       
    }


input {
        font-size:15px;
        outline border-width: thick;
        border: 1px solid black;
        outline-style: ridge;
        outline-color: blue;
        outline-width: thin;
    }


select {
        font-size: 15px;
        outline border-width: thick;
        border: 1px solid black;
        outline-style: solid;
        outline-color: blue;
        outline-width: thin
    }


button {
        background-color: #008CBA; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

