body   {
    background-color:aliceblue;
}

h1    {
        color:blue;
        margin-left: 4px;
        text-align: center;
        font-family:serif;
        font-size: 50px;
        height : 40px
}

h2    {
        font-family:serif;
        font-size: 25px;
        height : 3px    
}

h3 {
        height : 15px;   
}

h4 {
        height: 2px;
        font-family: fantasy;
        border: 2px
}

input {
        font-size:15px;
}

select {
        font-size: 15px;
}

button {
        font-size:15px; 
}